---
http_interactions:
- request:
    method: post
    uri: https://bulkapi.zerobounce.net/v2/validatebatch
    body:
      encoding: UTF-8
      string: '{"email_batch":[{"email_address":"disposable@example.com","ip_address":null},{"email_address":"invalid@example.com","ip_address":null},{"email_address":"valid@example.com","ip_address":null},{"email_address":"toxic@example.com","ip_address":null},{"email_address":"donotmail@example.com","ip_address":null},{"email_address":"spamtrap@example.com","ip_address":null}],"api_key":"thiskeyisinvalidorotherwiseincorrect"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Zb-Status:
      - '4001'
      Zb-Requested-With-Ip:
      - 89.46.112.83
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"email_address":"all","error":"Invalid API Key or your
        account ran out of credits"}],"email_batch":[]}'
  recorded_at: Thu, 04 May 2023 13:48:44 GMT
recorded_with: VCR 6.1.0
