---
http_interactions:
- request:
    method: get
    uri: https://bulkapi.zerobounce.net/v2/filestatus?api_key=99e7ef20ceea4480a173b07b1be75371&file_id=84946fc8-3f89-428a-9d0d-382fbe18cb24
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
      Speculation-Rules:
      - '"/cdn-cgi/speculation"'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"file_id":"84946fc8-3f89-428a-9d0d-382fbe18cb24","file_name":"validation.csv","upload_date":"2025-10-16T08:28:37Z","file_status":"Processing","complete_percentage":"0%","error_reason":null,"return_url":null}'
  recorded_at: Thu, 16 Oct 2025 08:28:42 GMT
recorded_with: VCR 6.1.0
