---
http_interactions:
- request:
    method: get
    uri: https://bulkapi.zerobounce.net/v2/filestatus?api_key=99e7ef20ceea4480a173b07b1be75371&file_id=b1ca4f70-0966-40eb-a662-0e7940769ddf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"file_id":"b1ca4f70-0966-40eb-a662-0e7940769ddf","file_name":"validation.csv","upload_date":"2023-09-04T12:11:09Z","file_status":"Queued","complete_percentage":"0%","error_reason":null,"return_url":null}'
  recorded_at: Mon, 04 Sep 2023 12:11:11 GMT
recorded_with: VCR 6.1.0
