---
http_interactions:
- request:
    method: get
    uri: https://bulkapi.zerobounce.net/v2/deletefile?api_key=99e7ef20ceea4480a173b07b1be75371&file_id=b71c74dc-079e-4f3b-a44a-eb33dd14aa0b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":"File Deleted","file_name":"validation.csv","file_id":"b71c74dc-079e-4f3b-a44a-eb33dd14aa0b"}'
  recorded_at: Mon, 05 Feb 2024 15:24:38 GMT
recorded_with: VCR 6.1.0
