---
http_interactions:
- request:
    method: get
    uri: https://bulkapi.zerobounce.net/v2/filestatus?api_key=***REMOVED***&file_id=8fc4ce03-dfd8-43d3-b684-f6ebebd6fef3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
      Speculation-Rules:
      - '"/cdn-cgi/speculation"'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"file_id":"8fc4ce03-dfd8-43d3-b684-f6ebebd6fef3","file_name":"validation.csv","upload_date":"2025-10-03T16:07:00Z","file_status":"Processing","complete_percentage":"0%","error_reason":null,"return_url":null}'
  recorded_at: Fri, 03 Oct 2025 16:07:03 GMT
recorded_with: VCR 6.1.0
