---
http_interactions:
- request:
    method: get
    uri: https://bulkapi.zerobounce.net/v2/deletefile?api_key=99e7ef20ceea4480a173b07b1be75371&file_id=64b99739-4d5f-4ef5-bc70-d427d167717f
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":"File Deleted","file_name":"validation.csv","file_id":"64b99739-4d5f-4ef5-bc70-d427d167717f"}'
  recorded_at: Thu, 04 May 2023 14:14:08 GMT
recorded_with: VCR 6.1.0
