---
http_interactions:
- request:
    method: get
    uri: https://bulkapi.zerobounce.net/v2/filestatus?api_key=99e7ef20ceea4480a173b07b1be75371&file_id=b71c74dc-079e-4f3b-a44a-eb33dd14aa0b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"file_id":"b71c74dc-079e-4f3b-a44a-eb33dd14aa0b","file_name":"validation.csv","upload_date":"2024-02-05T14:48:40Z","file_status":"Queued","complete_percentage":"0%","error_reason":null,"return_url":null}'
  recorded_at: Mon, 05 Feb 2024 14:48:41 GMT
recorded_with: VCR 6.1.0
