---
http_interactions:
- request:
    method: get
    uri: https://api.zerobounce.net/v2/guessformat?api_key=99e7ef20ceea4480a173b07b1be75371&company_name=Zero%20Bounce
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"domain":"","company_name":"Zero Bounce","format":"unknown","confidence":"undetermined","did_you_mean":"","failure_reason":"There
        is no domain assigned for this company name.","other_domain_formats":[]}'
  recorded_at: Thu, 16 Oct 2025 08:29:35 GMT
recorded_with: VCR 6.1.0
