---
http_interactions:
- request:
    method: get
    uri: https://api.zerobounce.net/v2/guessformat?api_key=***REMOVED***&domain=zerobounce.net
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"domain":"zerobounce.net","company_name":"","format":"first.last","confidence":"high","did_you_mean":"","failure_reason":"","other_domain_formats":[{"format":"first","confidence":"high"},{"format":"last.first","confidence":"high"},{"format":"lastfirst","confidence":"high"},{"format":"firstl","confidence":"high"},{"format":"lfirst","confidence":"high"},{"format":"firstlast","confidence":"high"},{"format":"last_middle_f","confidence":"high"},{"format":"last","confidence":"high"},{"format":"f.last","confidence":"medium"},{"format":"last-f","confidence":"medium"},{"format":"l.first","confidence":"medium"},{"format":"last_f","confidence":"mediu[...]
