---
http_interactions:
- request:
    method: get
    uri: https://api.zerobounce.net/v2/guessformat?api_key=99e7ef20ceea4480a173b07b1be75371&domain=zerobounce.net&last_name=Doe
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"email":"","domain":"zerobounce.net","format":"unknown","status":"","sub_status":"","confidence":"undetermined","did_you_mean":"","failure_reason":"Cannot
        identify email format.","other_domain_formats":[]}'
  recorded_at: Mon, 05 Feb 2024 14:48:49 GMT
recorded_with: VCR 6.1.0
