---
http_interactions:
- request:
    method: get
    uri: https://api.zerobounce.net/v2/guessformat?api_key=f1a18969819a4c5c9fbb58e368d947f1&company_name=Zero%20Bounce
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"domain":"","company_name":"Zero Bounce","format":"unknown","confidence":"undetermined","did_you_mean":"","failure_reason":"There
        is no domain assigned for this company name.","other_domain_formats":[]}'
  recorded_at: Fri, 03 Oct 2025 16:07:25 GMT
recorded_with: VCR 6.1.0
