---
http_interactions:
- request:
    method: get
    uri: https://api.zerobounce.net/v2/guessformat?api_key=99e7ef20ceea4480a173b07b1be75371&domain=zerobounce.net&first_name=John&last_name=Doe&middle_name=Deere
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"email":"john.doe@zerobounce.net","email_confidence":"medium","domain":"zerobounce.net","company_name":"","did_you_mean":"","failure_reason":""}'
  recorded_at: Fri, 03 Oct 2025 15:46:10 GMT
recorded_with: VCR 6.1.0
