---
http_interactions:
- request:
    method: get
    uri: https://api.zerobounce.net/v2/guessformat?api_key=***REMOVED***&company_name=Zero%20Bounce&first_name=John&last_name=Doe&middle_name=Deere
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"email":"","email_confidence":"undetermined","domain":"","company_name":"Zero
        Bounce","did_you_mean":"","failure_reason":"There is no domain assigned for
        this company name."}'
  recorded_at: Fri, 03 Oct 2025 16:07:26 GMT
recorded_with: VCR 6.1.0
