---
http_interactions:
- request:
    method: get
    uri: https://bulkapi.zerobounce.net/v2/scoring/filestatus?api_key=99e7ef20ceea4480a173b07b1be75371&file_id=1683108a-7951-4990-9463-fb653cb8394f
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
      Speculation-Rules:
      - '"/cdn-cgi/speculation"'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"file_id":"1683108a-7951-4990-9463-fb653cb8394f","file_name":"scoring.csv","upload_date":"2025-10-16T08:28:43Z","file_status":"Queued","complete_percentage":"0%
        Complete.","return_url":null}'
  recorded_at: Thu, 16 Oct 2025 08:28:45 GMT
recorded_with: VCR 6.1.0
