---
http_interactions:
- request:
    method: get
    uri: https://bulkapi.zerobounce.net/v2/scoring/filestatus?api_key=99e7ef20ceea4480a173b07b1be75371&file_id=0ed15060-38de-4a7f-a21d-5a68a07329bb
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"file_id":"0ed15060-38de-4a7f-a21d-5a68a07329bb","file_name":"scoring.csv","upload_date":"2023-09-04T14:00:04Z","file_status":"Complete","complete_percentage":"100%
        Complete.","return_url":null}'
  recorded_at: Mon, 04 Sep 2023 14:00:07 GMT
recorded_with: VCR 6.1.0
