---
http_interactions:
- request:
    method: get
    uri: https://bulkapi.zerobounce.net/v2/scoring/filestatus?api_key=99e7ef20ceea4480a173b07b1be75371&file_id=08e04aeb-9248-47c1-aa16-b2295ce74a6b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"file_id":"08e04aeb-9248-47c1-aa16-b2295ce74a6b","file_name":"scoring.csv","upload_date":"2024-02-05T14:48:42Z","file_status":"Complete","complete_percentage":"100%
        Complete.","return_url":null}'
  recorded_at: Mon, 05 Feb 2024 14:48:44 GMT
recorded_with: VCR 6.1.0
