---
http_interactions:
- request:
    method: get
    uri: https://bulkapi.zerobounce.net/v2/scoring/filestatus?api_key=***REMOVED***&file_id=0188e54e-3ba1-4a31-afca-57ca5effc679
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
      Speculation-Rules:
      - '"/cdn-cgi/speculation"'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"file_id":"0188e54e-3ba1-4a31-afca-57ca5effc679","file_name":"scoring.csv","upload_date":"2025-10-03T16:07:05Z","file_status":"Queued","complete_percentage":"0%
        Complete.","return_url":null}'
  recorded_at: Fri, 03 Oct 2025 16:07:06 GMT
recorded_with: VCR 6.1.0
