---
http_interactions:
- request:
    method: get
    uri: https://bulkapi.zerobounce.net/v2/scoring/filestatus?api_key=99e7ef20ceea4480a173b07b1be75371&file_id=4b887ccf-608c-436b-afc2-5220b73542b6
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"file_id":"4b887ccf-608c-436b-afc2-5220b73542b6","file_name":"scoring.csv","upload_date":"2023-05-04T14:03:34Z","file_status":"Complete","complete_percentage":"100%
        Complete.","return_url":null}'
  recorded_at: Thu, 04 May 2023 14:06:22 GMT
recorded_with: VCR 6.1.0
