---
http_interactions:
- request:
    method: get
    uri: https://bulkapi.zerobounce.net/v2/scoring/deletefile?api_key=99e7ef20ceea4480a173b07b1be75371&file_id=e98abaa7-67b6-48b3-b09b-aa65f5a6c170
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
      Speculation-Rules:
      - '"/cdn-cgi/speculation"'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":"File Deleted","file_name":"scoring.csv","file_id":"e98abaa7-67b6-48b3-b09b-aa65f5a6c170"}'
  recorded_at: Fri, 03 Oct 2025 15:46:02 GMT
recorded_with: VCR 6.1.0
