---
http_interactions:
- request:
    method: get
    uri: https://bulkapi.zerobounce.net/v2/scoring/deletefile?api_key=99e7ef20ceea4480a173b07b1be75371&file_id=4b887ccf-608c-436b-afc2-5220b73542b6
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":"File Deleted","file_name":"scoring.csv","file_id":"4b887ccf-608c-436b-afc2-5220b73542b6"}'
  recorded_at: Thu, 04 May 2023 14:10:24 GMT
recorded_with: VCR 6.1.0
