---
http_interactions:
- request:
    method: get
    uri: https://api.zerobounce.net/v2/validate?api_key=f1a18969819a4c5c9fbb58e368d947f1&email=valid@example.com&ip_address
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Fri, 03 Oct 2025 16:06:55 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"address":"valid@example.com","status":"valid","sub_status":"","free_email":false,"did_you_mean":null,"account":null,"domain":"example.com","domain_age_days":"9692","smtp_provider":"example","mx_found":"true","mx_record":"mx.example.com","firstname":"zero","lastname":"bounce","gender":"male","country":null,"region":null,"city":null,"zipcode":null,"processed_at":"2025-10-03
        16:06:55.317"}'
  recorded_at: Fri, 03 Oct 2025 16:06:55 GMT
recorded_with: VCR 6.1.0
